@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #283747;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.container {
    background-color: #5d6d7e;
    text-align: center;
    width: 90%;   /* Ajuste flexible para pantallas pequeñas */
    max-width: 400px;
    height: 35rem;
    padding: 20px;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.avatar-img img {
    margin: 20px 0;
    border-radius: 50%;
    width: 150px;
}
.avatar-img h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem; /* Unidad relativa */
    margin-bottom: 5px;
}
.avatar-img h2 {
    color: greenyellow;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem; /* Unidad relativa */
    margin-bottom: 10px;
}
.avatar-img p {
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
    background-color: #062649a8;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}
ul li:hover {
    color: black;
    background-color: greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .avatar-img img {
        width: 120px;
    }

    .avatar-img h1 {
        font-size: 1.2rem;
    }

    .avatar-img h2 {
        font-size: 0.9rem;
    }

    ul li {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .avatar-img img {
        width: 100px;
    }

    .avatar-img h1 {
        font-size: 1rem;
    }

    .avatar-img h2 {
        font-size: 0.8rem;
    }

    ul li {
        font-size: 0.8rem;
        padding: 6px;
    }
}
