@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414 ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.container {
    background-color: #1f1f1f ;
    text-align: center;
    width: 55%;   /* Ajuste flexible para pantallas pequeñas */
    max-width: 400px;
    height: 32rem;
    padding: 35px;
    border-radius: 15px;
    margin: 20px;
}

.avatar-img img {
    margin: 0 0 15px 0;
    border-radius: 50%;
    width: 100px;
}
.avatar-img h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;   /* Unidad relativa */
    margin: 0 0 5px 0;
}
.avatar-img h2 {
    color: greenyellow;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;   /* Unidad relativa */
    margin: 0 0 30px 0;
}
.avatar-img p {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
ul li {
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #333333 ;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}
ul li:hover {
    color: black;
    background-color: greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

@media (max-width: 450px){
    .container {
        width: 85%;   /* Ajuste flexible para pantallas pequeñas */
        height: 35rem;
    }
    
    .avatar-img img {
        margin: 0 0 15px 0;
        border-radius: 50%;
        width: 100px;
    }
    .avatar-img h2 {
        font-size: 0.85rem;   /* Unidad relativa */
        margin: 0 0 25px 0;
    }
    .avatar-img p {
        font-size: 0.8rem;
        margin: 0 0 25px 0;
        width: 240px;
    }

    ul li {
        margin: 0 0 10px 0;
        padding: 12px;
    }
}